$bg-color: white;
$font-color: black;

$darker-blue: #2b3c57;
$dark-blue: #3A5674;
$light-blue: #50ADE2;
$lighter-blue: #62C6F1;
$lightest-blue: #F4F9FA;
$sky-blue: #daedf8;

$white: white;

$header-color: $white;
$footer-color: $dark-blue;

$light-gray: rgba(black, 0.07);
$lighter-gray: rgba(black, 0.04);