.searchwp-live-search-results-showing {
  .searchwp-live-search-result {
    display: flex;
    flex-direction: column;

    a {
      white-space: unset;
      overflow: visible;
      text-overflow: unset;
      transition: background-color 0.125s linear;

      @include padding($all: 20px 20px);

      border-bottom: 1px solid $light-gray;

      h4 {
        @include margins($bottom: 8px 8px);
        @include fontSize(15px, 15px);
        font-weight: 700;
      }

      p {
        padding: 0;
        @include fontSize(12px, 12px);
        @include forcedSize($width: 100% 100%);
        border-bottom: none;
      }

      &:hover {
        background-color: $light-gray;
      }
    }
  }
}